name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository
        uses: actions/checkout@v4
      
      # --- NUEVO: Descargar CVs desde Drive ---
      - name: Download CVs from Google Drive
        run: |
          # Descargar CV Español
          curl -L "https://drive.google.com/uc?export=download&id=${{ secrets.CV_ID_ES }}" -o public/CV_Luis_DiNicco_ES.pdf
          
          # Descargar CV Inglés
          curl -L "https://drive.google.com/uc?export=download&id=${{ secrets.CV_ID_EN }}" -o public/CV_Luis_DiNicco_EN.pdf
          
          echo "CVs descargados correctamente en la carpeta public/"
          ls -l public/*.pdf
      # ----------------------------------------

      - name: Install, build, and upload your site
        uses: withastro/action@v2
        env:
            # Tu secreto de Formspree que ya configuramos antes
            PUBLIC_FORMSPREE_ID: ${{ secrets.PUBLIC_FORMSPREE_ID }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4